:root {
  /* DARK COLORS */
  --dark-gray-1: #000000;
  --dark-gray-2: #09090F;
  --dark-gray-3: #262626;
  --dark-gray-4: #3A3B3D;
  --dark-gray-5: #3F4246;

  --dark-blue-1: #363E51;
  --dark-blue-2: #4B4B6B;

  /* LIGHT COLORS */
  --light-gray-1: #FFFFFF;
  --light-gray-2: #F5F5F5;
  --light-gray-3: #D8DADE;
  --light-gray-4: #A7A7A7;

  --light-blue-1: #5F8AFA;

  --light-orange-1: #FFC860;
  
  --light-green-1: #AAD055;

  --light-turquoise-1: #4FD1D9; 
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
}

body {
  background-color: var(--light-gray-1);
  color: var(--dark-gray-5);
  font-family: "Manrope", Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn{
  border-radius: 100px !important;
}
.custom-btn {
  background-color: var(--light-gray-1);
  border: solid 1px var(--dark-gray-5);
  border-radius: 32px;
  color: var(--dark-gray-5);
  height: 44px;
  width: 144px; 
}
.custom-btn:hover{
  box-shadow: inset 0 0 0 1px transparent;
  background-color: var(--dark-gray-5);
  border: solid 1px var(--dark-gray-5);
  color: var(--light-gray-2);
}

.primary-btn{
  background-color: transparent;
  color: var(--light-blue-1);
  border: 1px solid var(--light-blue-1);
}
.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus{
  box-shadow: inset 0 0 0 1px transparent;
  background-color: var(--light-blue-1) !important;
  color: var(--light-gray-2);
  border: 1px solid var(--light-blue-1);
}

.modal-gradient{
  background: rgb(170,208,85);
background: radial-gradient(circle, rgba(95,138,250,0.8) 50%, rgba(79,209,217,0.8) 100%);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }