:root {
  /* DARK COLORS */
  --dark-gray-1: #000000;
  --dark-gray-2: #09090F;
  --dark-gray-3: #262626;
  --dark-gray-4: #3A3B3D;
  --dark-gray-5: #3F4246;

  --dark-blue-1: #363E51;
  --dark-blue-2: #4B4B6B;

  /* LIGHT COLORS */
  --light-gray-1: #FFFFFF;
  --light-gray-2: #F5F5F5;
  --light-gray-3: #D8DADE;
  --light-gray-4: #A7A7A7;

  --light-blue-1: #5F8AFA;

  --light-orange-1: #FFC860;
  
  --light-green-1: #AAD055;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~/assets/fonts/Manrope-Bold.ttf') format('truetype');
}

body {
  background-color: var(--light-gray-1);
  color: var(--dark-gray-5);
  font-family: "Manrope", Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.custom-btn {
  background-color: var(--light-gray-1);
  border: solid 1px var(--dark-gray-5);
  border-radius: 32px;
  color: var(--dark-gray-5);
  height: 44px;
  width: 144px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }